/* mobile stuff use full screen
 */
html {
   margin: 0px;
   padding: 5px;
   height: 100%;
   /* width: 100%; */
}

body {
   margin: 0px;
   min-height: 100%;
   /* width: 100%; */
   background-color: yellow;
}

.two_column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-fill: auto;
}

#picture-preview {
    visibility: hidden;
    /*width: auto; */
    height: auto;
    max-width: 25%;
}

#container_detail form {
    display: table;
}
#container_detail .table_row {
    display: table-row;
}
#container_detail label {
    display: table-cell;
}
#container_detail input {
    display: table-cell;
}
